body {
   font-family: tahoma;
   color:#282828;
   margin: 0px;
}
a {
   text-decoration: none;
   cursor: pointer;
}
.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}
.nav-bar-body {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin: auto;
   width: 80%;
   height: 100%;
   max-width: 1200px;
}
.product {
  display: flex;
  width: 80%;
  max-width: 1200px;
  flex-flow: wrap;
  padding: 1rem;
  margin: auto;
  border: 1px solid lightgrey;
}
img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  box-shadow: 0px .5px 1px #d8d8d8;
}
.product-image,
.product-info {
   margin-top: 10px;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: left;
}
   