* {
   box-sizing: border-box;
}
body {
   font-family: tahoma;
   color:#282828;
   margin: 0px;
}
a {
   text-decoration: none;
   cursor: pointer;
}
.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}
.nav-bar-body {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin: auto;
   width: 80%;
   height: 100%;
   max-width: 1200px;
}
.product {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
}
img {
  border: 1px solid #d8d8d8;
  width: 100%;
  
  box-shadow: 0px .5px 1px #d8d8d8;
}
.product-image{
   position: relative;
   width: 50%;
   aspect-ratio: 1/1;
   display: flex;
}
.product-info {
   position: relative;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   text-align: left;
   padding: 0 40px;
}
.sale {
   position: absolute;
   margin: 0;
   padding: 10px;
   color: white;
   font-size: 20px;
   z-index: 2;
   bottom: 20px;
   left: 20px;
   background: linear-gradient(-90deg, #84CF6A, #16C0B0);
   border: 2px solid white;
}
.buttons {
   height: 48px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   margin: 20px 0;
}
.addToCart {
   display: flex;
   height: 100%;
   padding: 0 20px;
   margin-right: 20px;
   justify-content: center;
   align-items: center;
   border: none;
   background: linear-gradient(-90deg, #84CF6A, #16C0B0);
   color: white;
   font-size: 20px;
   cursor: pointer;
   transition: 1s ease-in-out;
}
.addToCart:hover {
   transition: 1s ease-in-out;
   background: linear-gradient(-90deg, #84CF6A, #16C0B0); 
   border-radius: 20px;
}
.addToCartDisabled {
   display: flex;
   height: 100%;
   padding: 0 20px;
   margin-right: 20px;
   justify-content: center;
   align-items: center;
   border: none;
   background: gray;
   color: white;
   font-size: 20px;
   cursor: pointer;
   transition: 1s ease-in-out;
}
.cart {
   display: flex;
   height: 100%;
   padding: 0 20px;
   margin-right: 20px;
   border: 1px solid #16C0B0;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color: #16C0B0;
   cursor: pointer;
   transition: 1s ease-in-out;
}
.cart:hover {
   transition: 1s ease-in-out;
   background: #16C0B0;
   color: white; 
   border-radius: 20px;
}  
.addRemoveFromCart {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 48px;
   width: 48px;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
      'add'
      'remove';
   text-align: center;
   color: #16C0B0;
   border: 1px solid #16C0B0;
   cursor: pointer;
   padding: 0;
   margin: 0;
}
.addItem {
   grid-area: add;
   border-bottom: 1px solid #16C0B0;
}
.removeItem {
   grid-area: remove;
}